* {
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

/* NavBar */

.hamburguer {
    margin: 10px;
    font-size: 20px;
    background-color: black;
    color: gray;
    border: none;
}

header {
    background-color: black;
}

.menu {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
    transition: max-height 0.3s linear, opacity 0.5s linear;
    display: flex;
}

.menu.active {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    padding: 20px;
}

.btn-menu-contact {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #0dd078;
}

a {
    text-decoration: none;
    color: white;
}

/* Hero section */

.hero-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.hero-section--image img {
    height: 200px;
}

.hero-section--text {
    padding: 20px;
    margin: 10px;
}

.hero-section--btn {
    margin: 20px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #0dd078;
    font-size: 18px;
    font-weight: bold;
}

/* About section */

.about-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: #d9d9d9;
    color: black;
}

.about-section--image {
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
}

.about-section--btn {
    margin: 20px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #0dd078;
    font-size: 18px;
    font-weight: bold;
}
