* {
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

/* NavBar */

.hamburguer {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #0dd078;
    color: #0dd078;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    transition: all 0.3s linear;
}

.hamburguer:hover {
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: black;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 60px 20px 20px 20px; /* espaço pro botão hamburguer */
    gap: 20px;
    z-index: 1000;
}

.menu.active {
    transform: translateX(0);
}

.btn-menu-contact {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #0dd078;
}

a {
    text-decoration: none;
    color: white;
}

/* Hero section */

.hero-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.hero-section--image img {
    margin-top: 60px;
    height: 200px;
}

.hero-section--text {
    padding: 20px;
    margin: 10px;
}

.hero-section--btn {
    margin-top: 40px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #0dd078;
    font-size: 18px;
    font-weight: bold;
}

/* About section */

.about-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: #d9d9d9;
    color: black;
}

.about-section--image {
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
}

.about-section--btn {
    margin: 20px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #0dd078;
    font-size: 18px;
    font-weight: bold;
}

/* info card section */

.info-card--section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.info-card--section h1 {
    margin: 30px 0px 20px 0px;
    font-size: 32px;
}

.info-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    color: black;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    gap: 10px;
    font-size: 18px;
}

.info-card-img--section {
    border-radius: 10px;
    height: auto;
}

.portfolio--section {
    text-align: center;
    padding: 20px;
}

.portfolio--section h2 {
    margin: 20px 0px 40px 0px;
}

.slider {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.slide-track {
    display: flex;
    gap: 10px;
}

.slider img {
    width: 80vw;
    flex-shrink: 0;
    height: auto;
    scroll-snap-align: center;
    border-radius: 10px;
}

.portfolio--section h1 {
    margin: 30px;
    font-weight: bold;
}
